.restoDisplay{
  min-height: 80vh !important;
  width: 40vw !important;
  position: absolute !important;
  margin: 0 !important;
  min-width: 270px;
  height: auto !important;
}

.restoDataInfo{
  animation: appear .5s 1 forwards;
}

.restoDataInfo-NoInfo{
  animation: disappear .5s 1 forwards;
  height: 80vh !important;
  width: 40vw !important;
  min-width: 270px !important;
  pointer-events: none !important;
}



body{
  background-color: "red";
  background-image: webkit-linear-gradient(-50deg, #f12711, #f5af19);
  background-image: linear-gradient(-50deg, #f12711, #f5af19);
  position: relative;
  overflow: hidden;
}

.flexCenterAll {
	display: flex  !important;
	align-items: center  !important;
	justify-content: center  !important;
}

.cardTest{
  min-width: 40vw !important;
  min-height: 35vh !important;
}

.cardRight{
  height: 0px !important;
  opacity: 0;
  /* animation: slideRight 2s 1 forwards; */
}

.cardRight img{
  height: 0px !important;
  opacity: 0;
  /* animation: slideRight 2s 1 forwards; */
}

.cardLeft{
  min-width: 40vw !important;
  min-height: 35vh !important;
  animation: slideLeft 2.2s 1 forwards;
}

.currentCard{
  animation: fadeIn 2s 1 forwards;
}

.circleButton{
  /* border-radius: 50% !important; */
  height: 7vh !important;
  width: 7vh !important;
  padding: 0px !important;
  font-size: 7vh !important;
  background-color: transparent !important;
  margin: 0px !important;
  text-align: center !important;
}

.circleButton i{
  margin: auto !important;
}

.restoDataMenuTab{
  margin-left: 3vw !important;
  margin-right: 3vw !important;
  opacity: .8 !important;
  transform: scale(1,1);
}

.shadowLess{
  box-shadow: none !important;
}

.imagePics{
  height: 270px !important;
  width: 270px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  max-width: none !important;
  border-radius: 7px !important;
  animation: lightFade 1.5s 1;
}

.noSidePadding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.restoDataContent img{
  height: 260px !important;
  width: 260px !important;
}

.image-gallery-image img{
  height: 270px !important;
  width: 270px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  position: relative !important;
}

.foodImageArrows{
  height: 100% !important;
  width: 40px !important;
  background-color: rgb(100,100,100) !important;
  opacity: .3 !important;
  position: absolute !important;
  top: 0px !important;
}

.foodImageArrows:hover{
  opacity: .5 !important;
}

.sliderArrows{
  width: 48px;
  height: 48px;
  border-color: #000;
  position: absolute;
  top: 50%;
  margin-top: -31px;
  border-radius: 7px;
}


.sliderPrev{
  border-bottom: 6px solid;
  border-left: 6px solid;
  transform: rotate(45deg);
  left: 10px;
}

.sliderNext{
  border-bottom: 6px solid;
  border-left: 6px solid;
  transform: rotate(-135deg);
  right: 10px;
}

.activeIcon{
  transform: scale(1.5,1.5);
  transition: transform 1s !important;
  opacity: 1 !important;
}

i {
  margin-right: 0px !important;
}

@keyframes slideRight {
			0% {opacity: 1;}
      50% {opacity: 1;}
      100% {opacity: 0;}
}

@keyframes slideLeft {
			0% {transform: translateX(0px);}
      100% {transform: translate3d(-800px, 0, 0) rotate(-55deg); }
}

@keyframes appear {
			0% {height: 75vh; width: 0vw; opacity: 0}
      100% {  height: 80vh;  width: 40vw; opacity: 1}
}

@keyframes disappear {
			0% {  height: 80vh; opacity: 1}
      100% {height: 0vh; opacity: 0}
}

@keyframes fadeIn {
			0% {opacity: 0.9; position: absolute;}
      99% {position: absolute;}
      100% {opacity: 1; position: absolute;}
}

@keyframes lightFade {
  0% {opacity: .1;}
  100% {opacity: 1;}
}

/*

React Burger CSS Below

*/

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgb(240,240,240);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background:rgb(40,40,40);
}

/* General sidebar styles */
.bm-menu {
  background: rgb(240,240,240);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  display: inline-block;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
190px

*{
  font-family: 'Lora', serif;
}



@media (max-width: 667px) {
  .content{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .restoDataContent{
    width: 100% !important;
    text-align: center;
  }

  .cardTest, .content{
    width: 100%!important;
  }


}

@media (max-height: 568px) {
  .restoDisplay{
    min-height: 450px !important;
  }
}

@media (max-height: 480px) {
  .circleButtonSmall{
    /* border-radius: 50% !important; */
    height: 7vh !important;
    width: 7vh !important;
    padding: 0px !important;
    font-size: 7vh !important;
    background-color: transparent !important;
    margin: 0px !important;
  }

  .disappearSmall{
    width: 0px !important;
    height: 0px !important;
    font-size: 0px !important;
  }

  body{
    background-color: "red";
    background-image: webkit-linear-gradient(to left, #f12711, #f5af19);
    background-image: linear-gradient(to left, #f12711, #f5af19);
  }

  /* .restoDisplay{
    height: 100% !important;
  } */


}
