.restoDisplay{
  height: 80vh !important;
  width: 50vw !important;
  position: absolute !important;
  margin: 0 !important;
}

.restoDataInfo{
  animation: appear .5s 1 forwards;
}

.restoDataInfo-NoInfo{
  animation: disappear .5s 1 forwards;
  height: 80vh !important;
  width: 50vw !important;
}

.restoBackground{
  background-color: "red";
  background-image: webkit-linear-gradient(-50deg, #f12711, #f5af19);
  background-image: linear-gradient(-50deg, #f12711, #f5af19);
}



.flexCenterAll {
	display: flex  !important;
	align-items: center  !important;
	justify-content: center  !important;
}

.cardTest{
  min-width: 40vw !important;
  min-height: 35vh !important;
}

.cardRight{
  min-width: 40vw !important;
  min-height: 35vh !important;
  /* transform: translateX(100vw); */
  /* opacity: 0;
  transition: transform 1s 2s, opacity 2s 2s; */
  animation: slideRight 2s 1 forwards;
}

.cardLeft{
  min-width: 40vw !important;
  min-height: 35vh !important;
  animation: slideLeft 2s 1 forwards;
}

.circleButton{
  border-radius: 50% !important;
  height: 7vh !important;
  width: 7vh !important;
  padding: 0px !important;
  font-size: 7vh !important;
  background-color: transparent !important;
  margin: 0px !important;
}

@keyframes slideRight {
			0% {opacity: 1;}
      50% {opacity: 1;}
      100% {opacity: 0;}
}

@keyframes slideLeft {
			0% {transform: translateX(0px);}
      100% {transform: translateX(-100vw);}
}

@keyframes appear {
			0% {height: 40vh; width: 0vw; opacity: 0}
      50% {opacity: 0}
      100% {  height: 80vh;  width: 50vw; opacity: 1}
}

@keyframes disappear {
			0% {  height: 80vh;  width: 50vw; opacity: 1}
      50% {opacity: 1}
      100% {height: 0vh; width: 0vw; opacity: 0}
}



/*

React Burger CSS Below

*/

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgb(240,240,240);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background:rgb(40,40,40);
}

/* General sidebar styles */
.bm-menu {
  background: rgb(240,240,240);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  display: inline-block;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
